run.sh
jenkins-cli.jar
node/
node_modules/
package-lock.json
yarn.lock
target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
/modules/**/bin

./script/*
*.sh
flowablesynpulse-master/
links.txt
run_org.sh
